@import "/styles/colors.scss";

.paper{
    text-align: center;
    box-shadow: none;
    background-color: $grey;
    color: white;
    max-height: 70%;
}

.table{
    text-align-last: center;
}

.th{
    background-color: $grey;
    color: white;
}

.cell{
    color: rgb(202, 202, 202);
}

