@import "/styles/colors.scss";

.paper{
    text-align: center;
    box-shadow: none !important;
    background-color: $grey !important;
    color: white;
    max-height: 70%;
}

.table{
    text-align-last: center;
    min-width: 50vw;
}

.th{
    background-color: $grey !important;
    color: white !important;
}

.cell{
    color: white;
    background-color: $grey;
    border-bottom:none
}

